*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

a{
    text-decoration: none;
    color: white;
}

h1 {
    font-family: "Open Sans",sans-serif;
    color: rgb(245, 247, 243);
}

h1 a {
    font-family: "Open Sans",sans-serif;
    color: rgb(245, 247, 243);
}

#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;

}

#navbar ul li a{
    padding: 0.5rem;
}

#navbar ul li a i {
    color: white;
    font-size: 2rem;
}

#navbar ul li a i:hover{
    font-size: 2.4rem ;
    
}


#navbar .bord :hover {

    background-color: white;
    color: #042656;
    border-radius: 0.4rem;   
    
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    border-bottom: 1px solid gray;  
}

#home h2 {
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}

#home p {
    opacity: 0.8;
    letter-spacing: 0.75px;
    margin-bottom: 0.75rem;
}


.container-3{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    margin-top: 0.3rem;
    
    
}

.container-3 a{
    margin-top: 1rem;
    width: 255%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    
    

}
.container-3 a:hover{
    width: 350%;
    border-radius: 0.8rem;
     
}

#foto{
    width: 75%;
    padding: 0.3rem;
    display: flex;
   justify-content: center;
   border-radius: 1.5rem;
}

.section-baslık {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 4em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2rem;
}

.shop-item {
    margin: 30px;
}

.shop-item:hover {
    margin: 30px;
    width: 25%;

}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}


.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    font-size: 1.5rem;
    flex-grow: 1;
    color: rgb(0, 0, 0);
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: rgb(0, 0, 0);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #ff9292;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #ff0000;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid skyblue;
    background-color: rgba(0, 0, 0,);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255,);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color:#042656;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #000000;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    color:#042656;
    transition: all 0.3s ease;
    border: 1px solid #042656;
    font-size: 1.2rem;
    
}



.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid skyblue;
    background-color: #eee;
    color: rgb(0, 0, 0);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}









     
#contact {
    color: white;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
    
}

#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
}

#contact .contact-form ul li a:hover {
    font-size: 3rem;
}

